@(message: String)

@main("Welcome to Play") {

<div class="page-header">
    <h1>Lunchmonkey
        <small>Meat is meat, learn to eat!</small>
    </h1>
</div>
<div ng-controller="LocationController">
    <button type="button" class="btn btn-default" ng-click="randomButton()">Random</button>

    <div id="random" class="alert alert-success" role="alert" style="display: none; margin-top: 20px">
        <a ng-if="random.url" href="{{random.url}}" target="_blank">{{random.name}}</a>
        <span ng-if="!random.url">{{random.name}}</span>
        <span class="label label-default">{{random.foodStyle}}
    </div>

    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-heading">
            <h3 class="panel-title">Location list</h3>
        </div>
        <div class="panel-body" id="column3">
            <dl class="dl-horizontal" ng-repeat="location in locations" id="{{location.name}}">
                <dt>
                    <a ng-if="location.url" href="{{location.url}}" target="_blank">{{location.name}}</a>
                    <span ng-if="!location.url">{{location.name}}</span>
                </dt>
                <dd><span class="label label-default">{{location.foodStyle}}</span></dd>
            </dl>
        </div>
    </div>
</div>


}
